<script>
  LiveRecord.helpers.loadRecords({modelName: 'Post'})
</script>
<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Is Enabled</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id='posts-enabled'>
    <% @posts.each do |post| %>
      <tr data-cable-destroy-from='Post-<%= post.id %>'>
        <td data-cable-update-from='Post-<%= post.id %>-title'><%= post.title %></td>
        <td data-cable-update-from='Post-<%= post.id %>-content'><%= post.content %></td>
        <td data-cable-update-from='Post-<%= post.id %>-is_enabled'><%= post.is_enabled %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
