<script>
  LiveRecord.helpers.loadRecords({ modelName: 'Post' });
  
  liveList = LiveRecord.plugins.LiveDOM.LiveList.create({
    modelName: 'Post',
    listContainer: function() { return $('tbody') },
    sort: function(post1, post2) { return LiveRecord.helpers.spaceship(post1.created_at(), post2.created_at()) }
  });

  LiveRecord.Model.all.Post.subscribe({ where: { is_enabled: true }});
</script>
<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr <%= live_record_element(post) + live_record_destroyable(post) %>>
        <td <%= live_record_updatable(post, :title) %>><%= post.title %></td>
        <td <%= live_record_updatable(post, :content) %>><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>

<%= live_record_sync { link_to 'Show', @posts[0] } %>