<script>
  var categories_attributes = <%= raw @categories.to_json %>;
  for (var i = 0; i < categories_attributes.length; i++) {
    var category = new LiveRecord.Model.all.Category(categories_attributes[i]);
    category.create();
  }
</script>
<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr data-cable-destroy-from='Category-<%= category.id %>'>
        <td data-cable-update-from='Category-<%= category.id %>-name'><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
