<!DOCTYPE html>
<html>
  <head>
    <title>Rails5ActionCable</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= link_to 'Sign In', new_user_session_path unless user_signed_in? %>
  	<%= link_to 'Log Out', destroy_user_session_path, method: :delete if user_signed_in? %>
    <%= yield %>
  </body>
</html>
